*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    justify-content: space-evenly;
    background-color: #0F1111;
    color: white;
    display:flex;
    align-items: center;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    height: 50px;
    width: 100%;
    background-image: url(amazon_logo_transparent.png);
    background-size: cover;
   
}
.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

/* box2 */

.nav-address {
    height: 50px;
    /* width: 78px;
    display: flex;          
    align-items: center;    
    justify-content: center;
    flex-direction: column; 
    text-align: center;      */

    padding: 10px;           
    box-sizing: border-box;
}

.add-first{
    color:#cccccc;
    font-size: 0.70rem;
    margin-left: 16px;
}

.add-sec{
    margin-left: 3px;
    font-size: 1rem;
    font-weight: 700
}
.add-icon{
    display: flex;
    align-items: center;
}


/* box3 search box */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(173, 41, 155);
    height: 40px;
    width: 620px;
    border-radius: 4px;
    
}
.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    /* width: 200px; */
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    max-height: 70px; 
    overflow-y: auto;
    
}

.search-input{
    width:100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: rgb(237, 184, 84);
    border-top-right-radius: 4px;
    border-bottom-right-radius:4px ;
    color: black;
}

/* box 4 choose language */

/* box 5 signin and orders*/
.nav-signin,.nav-orders{
    padding: 10px;           /* Add padding to create space for the border */
    box-sizing: border-box;
 }

 
span{
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/* box 7 Cart */
.nav-cart i{
    font-size: 28px;

}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-second{
    margin-top: 1rem;
}

/* panel bar code */
.panel{
    height: 40px;
    justify-content: space-evenly;
    background-color: #222f3d;
    color: white;
    display:flex;
    align-items: center;
}

/* box 1 panel all */
.panel-all{
    line-height: 35px;
    padding-left: 15px ;
    padding-right: 6px;
    /* width: 4%; */

}
/* box 2 panel options */


.panel-ops p{
    
    /* display: inline; */
    display: inline-block;        
    margin-left: 15px;
    height: 35px;
    align-items: center; 
    line-height: 35px;
    
}
.panel-ops{
    width: 70%;
    height: 35px;
    font-size: 0.85rem;
    display: flex;
    align-items: center;          
    margin: 0 auto; 
    
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 35px;
    padding-left: 5px;
    padding-right: 15px;
    
}

/* hero-section code: */

.hero-section{
    background-image: url("hero1.jpg");
    height: 330px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 96%;
    margin-bottom: 20px;
}
.hero-msg a{
    color: #007185;

}

/** shop section **/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 40px;
    background-color: #F1F0E8;
}
.box{
    /* border: 2px solid black; */
    height: 350px;
    width: 21%;
    background-color: white;
    /* display: flex; */
    padding:   15px;
    margin-bottom: 20px;
   
}

.box-img{
    height: 280px;
    width: 98%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1rem;
    margin-top: 0.8rem;
}

.box-content p{
    color: #007185;
}

/* footer panel  */


.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 15px; */
    /* padding-top: 28px; */
    height: 280px;
}
ul{
    margin-top: 28px;
}
ul a{
    display: block;
    margin-top: 10px;
    color: #dddddd;
    font-size: 0.85rem;
    
}
p{
    font-weight: 700;
}

/* foot panel3 */
.foot-panel3{
    background-color: #222f3d;

    color: white;
    border-top: 0.5px solid white ;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    height: 50px;
    width: 100px;
    /* background-image: url(Amazon_logo.svg); */
    background-image: url(amazon_logo_transparent.png);
    background-size: cover;
   
}
/* foot panel4 */
.foot-panel4{
    background-color:#0F1111 ;
    color: white;
    height: 70px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    font-size: 0.7rem;
    text-align: center;
}

.pages{
    
    padding-top: 25px;


}

.copyright{
    
    text-align: center;

}